/build
/eclipse
.classpath
.project
/.gradle
/.settings
/bin
/run
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
build.bat
forge-1.7.10-10.13.2.1291-changelog.txt
libs/forestry_1.7.10-3.6.0.17-dev.jar
